@font-face {
    font-family: Raleway-Regular; 
    src: url(Raleway-Regular.ttf); 
}

@font-face {
    font-family: Raleway-ExtraBold; 
    src: url(Raleway-ExtraBold.ttf); 
}

@font-face {
    font-family: Montserrat-Light; 
    src: url(MontserratAlternates-Light.otf); 
}

@font-face {
    font-family: Raleway-SemiBold; 
    src: url(Raleway-SemiBold.ttf); 
}

@font-face {
    font-family: Raleway-Medium; 
    src: url(Raleway-Medium.ttf); 
}